<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color:#6dc5d1;">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 style="color: white;">Ingram</h1>
            </div>
            {% if user.is_authenticated %}
            <div class="navbar-options">
                <a class="navbar-brand" href="#" style=" text-decoration: none;">{{ user.username }}</a>
                <a class="navbar-brand" href="{% url 'logout' %}" style=" text-decoration: none;">logout</a>
            </div>
            {% else %}
            <a class="navbar-brand" href="{% url 'register' %}" style=" text-decoration: none;">Sign In</a>{% endif %}
        </div>
    </nav>
</body>

</html>