{%extends 'all-grams/base.html'%} {% block content %} {{block.super}}
<div class="container">

  <div class="row">
    <a href="{% url 'profile' %}" style="list-style: none;text-decoration: none;">
        <div class="card" style="background-color:transparent;width: 70px;height: 70px;border-radius: 50px;margin-bottom: 50px;">
            <img style="width: 70px;height: 70px;border-radius: 50px;" src="{{profile.profile_pic.url}}">
        </div>
        <h5 style="margin-left: 80px;margin-top:-95px ;">{{ profile.username}}</h5>
    </a>

    <img src="{{post.image.url}}" style="margin-top:50px;width:90%;height: 80vh;">
    <br>
    <h3 style="margin-top:20px;">{{post.get_likes_total}} likes</h3>
    <a class="btn btn-danger" href="" style="margin-top:20px;">like</a>
    <h2 style="margin-top: 50px;margin-left: 50px;margin-bottom: 90px;">{{post.description}}</h2>
  </div>
</div>
{%endblock%}